<nav>
  <span id="logo">YUMRs</span>
  <div class="links">
    <div class="left-bar">
      <span class="left-links">
        <a class="nav-item nav-link" href="/api/items" style="text-decoration: none;">Menu</a>
        <a class="nav-item nav-link" href="" style="text-decoration: none;">Account</a>
        <a class="nav-item nav-link" href="/api/chefs" style="text-decoration: none;">Chef's Portal</a>
        <a class="nav-item nav-link" href="" style="text-decoration: none;">About</a>
      </span>
    </div>
    <div class="right-bar">


      <% if(user_id){ %>

        <p class="welcome-user"> Hello again, <%= user_id %>  </p>

      <% } else{ %>

        <form class="form-inline" action="/api/users/login" method="POST">
          <span>
            <input class="form-control" type="text" name="username" placeholder="user name" style="width: 100px; height: 30px;">
            <button id="login-button">Login</button>
          </span>
        </form>

      <% } %>


    </div>
  </div>
</nav>
