<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/chefs.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/chefApp.js"></script>

  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;1,300&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap" rel="stylesheet">
</head>

<body>

  <nav>
    <span id="logo">YUMRs</span>
    <div class="left-bar">
      <span id="new-tweet">
        <button id="menu-button">menu</button>
      </span>
    </div>
  </nav>

  <main class="chef-container">

    <article class="chit hidden">

      <!-- template make a helper function-->
      <!-- <div class="order-view">
        <div class="food-name">burger-patty melt</div>
        <div class="food-instructions"> </div>
        <div class="food-qty">qty: 2</div>
      </div> -->

    </article>


    <div class="status-entry">

      <!-- PENDING: route to /pending of chefsPage.js will take care of twilio -->
      <div class="pending">
        <form>
          <label for="order">order #</label>
          <input type="text" name="order" id="order-number">
          <button type="submit" class="pending-button">enter</button>
        </form>
      </div>

      <!-- pick up time _> sends SMS-->
      <div class="pickup">
        <form>
          <label for="pickup">how long ?</label>
          <input type="text" name="pickup" class="time-remaining">
          <button type="submit" class="time-remaining-button">enter</button>
        </form>

      </div>

      <!-- ready button -- a form with no field -->
      <div class="ready">
        <form>
        <!-- <form action="/chefsPage/ready" method="POST"> -->

          <button type="submit" class="ready-button">READY!</button>
        </form>
      </div>
    </div>
  </main>

</body>

</html>
