<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/chefs.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/chefApp.js"></script>

  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;1,300&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap" rel="stylesheet">
</head>

<body>

  <%- include('partials/_nav') %>


  <main class="chef-container">

    <article class="chit hidden"></article>


    <div class="status-entry">
      <!-- PENDING: route to /pending of chefsPage.js will take care of twilio -->
      <div class="order-select-container" style="width: 30%;">

        <label for="order-select">ORDER #</label>
        <select name="order-select" id="order-select">

          <% orderList.forEach(order => { %>
            <option value=""> <%= order %> </option>
            <% }) %>
          </select>
          <button type="submit" class="pending-button">Order Up</button>

      </div>

      <!-- pick up time _> sends SMS-->
      <div class="minute-entry" style="width: 40%;">
        <div class="entry-container">
          <label for="minutes">Minutes:</label>
          <input type="number" id="minutes" name="minutes" style="width: 65%;"
                 min="1" max="180">
        </div>
        <div class="button-cup">
          <button id="five-button" style="width: 105px;">+5</button>
          <button id="ten-button" style="width: 105px;">+10</button>
        </div>
          <button id="time-remaining-enter" style="width: 105px;">Send</button>
      </div>

      <!-- ready button -- a form with no field -->
      <div class="ready" style="width: 30%;">
        <form>
        <!-- <form action="/chefsPage/ready" method="POST"> -->

          <button type="submit" class="ready-button" style="width: 130px;">READY!</button>
          <button type="submit" class="paid-button" style="width: 130px;">PAID</button>

        </form>
      </div>
    </div>
  </main>

</body>

</html>
