<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;1,300&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap" rel="stylesheet">
</head>

<body>

  <nav>
    <span id="logo">YUMRs</span>
    <div class="links">
      <div class="left-bar">
        <span class="left-links">
          <a class="nav-item nav-link" href="/api/items" style="text-decoration: none;">Menu</a>
          <a class="nav-item nav-link" href="/account" style="text-decoration: none;">Account</a>
          <a class="nav-item nav-link" href="/chefs-portal" style="text-decoration: none;">Chef's Portal</a>
          <a class="nav-item nav-link" href="/about" style="text-decoration: none;">About</a>
        </span>
      </div>
      <div class="right-bar">
        <span>
          <button id="menu-button">Login</button>
        </span>
      </div>
    </div>
  </nav>

  <main class="container">
    <p>featured restaurant</p>
  </main>

</body>

</html>
