<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/menu-item.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<body>
  <main class="menu-item">
    <section class="menu-item">
    <div class="menu-item-restaurant-column">
      <img  alt="restaurant picture" width=100 height=150>
    </div>
    <div class="menu-item-details">
      <div class="menu-item-details-left">
        <div class="menu-item-details-left-top">
        <h3>Title</h3>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim</p>
      </div>
      <div class="menu-item-details-left-bottom">
        <p> $9.99</p>
        <button> + add - </button>
      </div>
      </div>
      <div class="menu-item-details-right-picture">
        <img src="/assets/imgs/burger1.jpeg" alt="restaurant picture" width=100 height=150>
      </div>
    </div>
  </section>

  </main>


</body>
</html>
