.chef-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  padding: 1.5em;
  width: 100%;
  margin: auto;
  height: 100%;
  font-family: "Lato", sans-serif;
  justify-content: space-around;
  background-color: #b4b4b4;
}

.chit {
  display: flex;
  background-color: white;
  border-radius: 5px;
  width: 100%;
  padding: 1em;
  margin: 1em;
  flex-direction: column;
  align-items: center;
  margin: auto;
  border: solid;
}


//  this is the template
// --- - - - - ---- - - - -- - - - -- - - - -
.order-view {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;
  width: 100%;
  padding: 0.5em;
  height: 85px;

  .food-name {
    background-color: #FB7756;
    padding: 0.5em;
    border-radius: 5px;
    width: 20%;
  }
  .food-instructions {
    background-color: #E74645;
    width: 65%;
    padding: 0.5em;
    border-radius: 5px;
  }
  .food-qty {
    background-color: #FDFA66;
    width: 10%;
    padding: 0.5em;
    border-radius: 5px;
  }

}





.status-entry {
  display: flex;
  background-color: white;
  width: 100%;
  height: 200px;
  padding: 1em;
  margin: 1em;
  flex-direction: row;
  //justify-content: space-around;
  align-items: center;
  border-radius: 7px;
  margin: auto;
  margin-top: 10px;
  border: solid;
}



.order {
  background-color: white;
  width: 60%;
  height: 100%;
  padding: 1em;
  margin: 1em;
  border-radius: 7px;
}



.pickup-time {
  background-color: green;
}


.hidden {
  display: none;
}



button {
  color: white;
  background-color: #E74645;
  border-color: #E74645;
  border-radius: 8px;
}



.order-select-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2em;
  height: 175px;
}

.minute-entry {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2em;
  height: 175px;

  .entry-container {
    width: 80%;
    display: flex;
    height: 25%;
    margin: auto;
    justify-content: space-around;
  }

  .button-cup {
    display: flex;
    height: 45%;
    justify-content: space-between;
    padding: 0.25em;
  }

  #time-remaining-enter {
    height: 25%;
    margin: auto;
  }
}

.ready form {
  width: 60%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1em;
  margin: auto;

  .ready-button {
    height: 40%;
  }

  .paid-button {
    height: 40%;
  }
}
