// See: https://sass-lang.com/

/*
colour palette
red: #E74645
orange: #FB7756
dark yellow: #FACD60
bright yellow: #FDFA66
blue: #1AC0C6
*/

body,
html {
  margin: 0;
  height:100%;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 25px;
}
