
main.menu-container {
  display:flex;
  justify-content: center;
  margin: auto;
}

section.menu-item {
  display: flex;
  flex: center;
  border-style: ridge;
  margin: 0.5em 1em
}

.menu-item-details {
  display: flex;
}
.menu-item-details-left {
  min-width: 600px;
}

.menu-item-details-left-bottom {
  display:  flex;
  justify-content: space-between;
}
