$yumr-yellow: #FACD60;
$yumr-blue: #1AC0C6;
$button-colors: #eb7e18;
$font: 'Lato', sans-serif;


main.menu-container {
  display:flex;
  justify-content: center;
  margin: auto;
  background-color: white;
  padding: 5em 10em 5em 10em;
  margin-top: 3em;
}

section.menu-item {
  display: flex;
  flex-direction: column ;
  border-style: ridge;
  margin: 1.5em;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/assets/imgs/angle-kitchen-large.jpeg');
}

.menu-item-top {
  display: flex;
  padding-left: 1em;
  padding-top: 1em;
}

.menu-item-details-left {
  min-width: 35rem;
}


.menu-item-details-right-picture img {
  margin: 0.5em;
  width: 120px;
  height: 120px;
}

.menu-item-details-right-picture img {
  object-fit: cover;
}

#order-summary {
  display:flex;
  flex-direction: column;
  margin: 1.5em;
}

.menu-item-bottom {
  background-color: lighten($yumr-yellow, 20%);
}

#instructions {
  margin: 0.5em;
  padding-left: 0.5em;
}

.menu-item-bottom-add-to-cart {
  padding-left: 0.5em;
}

#subtotal {
  background-color: lighten($yumr-blue, 50%);
}

#tax {
  background-color: lighten($yumr-yellow, 20%);
}

#total {
  background-color: lighten($yumr-blue, 50%);
}

#instructions {
  width: 98%;
}

.thank-you {
  font-size: 1.5em;
  margin-top: 1em;
  padding: 0.5em;
  border: dotted;
  border-radius: 9px;
  font-family: $font;
  box-shadow: 12px 12px 2px 1px rgb(128, 117, 117);
  animation: swirl 3s infinite;
  color: rgb(48, 31, 1);
}

.hidden {
  display: none;
}

@keyframes swirl {
  0%{background-color: $yumr-yellow;}
  25%{background-color: $yumr-blue;}
  50%{background-color: $yumr-yellow;}
  75%{background-color: $yumr-blue;}
  100%{background-color: $yumr-yellow;}
}
