nav {
  height: 100px;
  width: 100%;
  background-color: #FACD60;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
}

#logo {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  padding-right: 1.5em;
}

#menu-button {
  height: 40px;
  width: 80px;
}

.links {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.left-bar {
  display: flex;
  align-items: center;
}

.left-links {
  width: 275px;
  display: flex;
  justify-content: space-between;
}
