nav {
  height: 100px;
  width: 100%;
  background-color: #FACD60;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
}

#logo {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}

#menu-button {
  height: 50px;
}
